<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>深圳大学管理员登录</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
	<script src="/javascripts/jquery-3.6.0.min.js"></script>
</head>
<body>
	<div id="all" style="opacity:0.6">
		<h3>管理登录</h3>
		<div>
			<label>用户名</label>
			<input type="text" name="use_name" id="use_name">
		</div>
		<div>
			<label>密码</label>
			<input type="password" name="use_password" id="use_password">
		</div>
		<button id="yes">登录</button>
		<a id="register" href="/register1" target="_blank">注册</a>
	</div>
</body>
<script src="/javascripts/login1.js"></script>
</html>