<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>招生简章管理</title>
<link rel="stylesheet" href="stylesheets/css/style1.css">
<link rel="stylesheet" href="/stylesheets/Table.css">
<script src="/javascripts/jquery-3.6.0.min.js"></script>
</head>
<body>
<div id="hearder2" class="clearfix">
	<div class="logo">
   	  <img src="images/images/logo1.png">
  </div>
  <div>
    <img src="images/xiaoxun.jpg" style="width: 200px;height: 101px; position: relative; left: 563px; top: 5px;">
</div>
</div>
<div id="menu-box" class="clearfix">
	<ul>
        <li><a id="Mfirst_page">管理首页</a></li>
        <li><a id="Mdetail">招生简章管理</a></li>
        <li><a id="Mteacher">师资队伍管理</a></li>
        <li><a id="Mtouch">联系教师管理</a></li>
        <li><a id="Mtalk">公告通知管理</a></li>
    </ul>
</div>
<div id="slider-box" style="background:url(/images/images/slider4.jpg) center center;"></div>
<div id="detail2-box" class="clearfix">
	<div class="tit-80"></div>
    <div class="tabula-box">
    	<div class="max-tit">管理员系统</div>
        <ul>
            <li><a href="/Mdetail">校园</a></li>
            <li><a href="/Mdetail">大一年级</a></li>
            <li><a href="/Mdetail">大二年级</a></li>
            <li><a href="/Mdetail">大三年级</a></li>
            <li><a href="/Mdetail">大四年级</a></li>
            <li><a href="/Mdetail">研一年级</a></li>
            <li><a href="/Mdetail">研二年级</a></li>
            <li><a href="/Mdetail">研三年级</a></li>
        </ul>
    </div>
    
    <div class="content-box">
        <h1>招生简章管理</h1>
            <span>请输入招生条例</span>
            <input type="text" name="title" id="title">
            <span>搜索：</span>
            <input type="text" name="find" id="find" placeholder="搜索">
            <input type="submit" id="sub_find" value="查询">
            <br>
            <span>请输入具体准则</span>
            <input type="text" name="detail" id="detail">
            <br>
           <button id="detailAdd">招生简章添加</button>
           </div>
            <table class="tables">
            <thead>
                <tr>
                    <td>条例</td>
                    <td>具体准则</td>
                    <td>操作</td>
                </tr>
            </thead>
            <tbody id="Detail">

            </tbody>
        </table>
    </div>
<div id="div6">Copyright &copy; 2021 深圳大学 All rights reserved.</div>
<script src="javascripts/jq1.js"></script>
<script src="javascripts/Mdetail.js"></script>
</body>
</html>
