<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>首页添加</title>
<link rel="stylesheet" href="stylesheets/css/style1.css">
<script src="/javascripts/jquery-3.6.0.min.js"></script>
</head>
<body>
<div id="hearder2" class="clearfix">
	<div class="logo">
   	  <img src="images/images/logo1.png">
  </div>
  <div>
    <a href="/login1"><img src="images/xiaoxun.jpg" style="width: 200px;height: 101px; position: relative; left: 563px; top: 5px;"></a>
</div>
</div>
<div id="menu-box" class="clearfix">
	<ul>
        <li><a id="Mfirst_page">管理首页</a></li>
        <li><a id="Mdetail">招生简章管理</a></li>
        <li><a id="Mteacher">师资队伍管理</a></li>
        <li><a id="Mtouch">联系教师管理</a></li>
        <li><a id="Mtalk">公告通知管理</a></li>
    </ul>
</div>
<div id="slider-box" style="background:url(/images/images/slider4.jpg) center center;"></div>
<div id="detail2-box" class="clearfix">
	<div class="tit-80"><a id="news">管理首页</a> - 查看详情</div>
    <div class="tabula-box">
    	<div class="max-tit">管理员系统</div>
        <ul>
            <li><a href="/Mfirst">校园</a></li>
            <li><a href="/Mfirst">大一年级</a></li>
            <li><a href="/Mfirst">大二年级</a></li>
            <li><a href="/Mfirst">大三年级</a></li>
            <li><a href="/Mfirst">大四年级</a></li>
            <li><a href="/Mfirst">研一年级</a></li>
            <li><a href="/Mfirst">研二年级</a></li>
            <li><a href="/Mfirst">研三年级</a></li>
        </ul>
    </div>
    
    <div class="content-box">
    	<h1>欢迎来到管理员首页，请进行操作！</h1>
        <div class="content">
           <img src="images/manage.jpg">
        </div>
    </div>
</div>
<div id="div6">Copyright &copy; 2021 深圳大学 All rights reserved.</div>
<script src="javascripts/jq1.js"></script>
</body>
</html>
