<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>深圳大学管理员注册</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/register.css">
	<script src="/javascripts/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div id="all" style="opacity:0.6">
		<h3>管理注册</h3>
		<div>
			<label>用户名</label>
			<input type="text" name="use_name" id="use_name">
			<p class="appear" id="p_name"></p>
		</div>
		<div>
			<label>邮箱</label>
			<input type="text" name="use_email" id="use_email">
			<button id="deliver">发送</button>
			<p class="appear" id="p_email"></p>
		</div>
		<div>
			<label>验证码</label>
			<input type="number" name="use_random" id="use_random">
			<p class="appear" id="p_random"></p>
		</div>
		<div>
			<label>密码</label>
			<input type="password" name="use_password" id="use_password">
			<p class="appear" id="p_password"></p>
		</div>
		<div>
			<label>确认密码</label>
			<input type="password" name="use_password1" id="use_password1">
			<p class="appear" id="p_password1"></p>
		</div>
        <button id="yes">确认</button>
	</div>
    <script src="/javascripts/register1.js"></script>
</body>
</html>