<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>深圳大学师资队伍</title>
<link rel="stylesheet" href="stylesheets/css/style1.css">
<script src="javascripts/js/jquery-1.8.3.min.js"></script>
</head>
<body>
<div id="hearder2" class="clearfix">
	<div class="logo">
   	  <img src="images/images/logo1.png">
    </div>
    <div>
    <img src="images/xiaoxun.jpg" style="width: 200px;height: 101px; position: relative; left: 563px; top: 5px;">
   </div>
</div>
<div id="menu-box" class="clearfix">
	<ul>
        <li><a id="first_page">首页</a></li>
        <li><a id="center">招生简章</a></li>
        <li><a id="teacher">师资队伍</a></li>
        <li><a id="news">新闻中心</a></li>
        <li><a id="touch">联系我们</a></li>
        <li><a id="talk">校园论坛</a></li>
    </ul>
</div>
<div id="slider-box" style="background:url(images/images/slider4.jpg) center center;"></div>
<div id="detail2-box" class="clearfix">
	<div class="tit-80"><a href="list-text1.html">师资队伍</a> - 查看详情</div>
    <div class="tabula-box">
    	<div class="max-tit">师资队伍</div>
        <ul>
            <li><a href="list-text1.html">大一教师</a></li>
            <li><a href="list-text1.html">大二教师</a></li>
            <li><a href="list-text1.html">大三教师</a></li>
            <li><a href="list-text1.html">大四教师</a></li>
            <li><a href="list-text1.html">研一教师</a></li>
            <li><a href="list-text1.html">研二教师</a></li>
            <li><a href="list-text1.html">研三教师</a></li>
        </ul>
    </div>
    
    <div class="content-box">
    	<h1>教师介绍</h1>
        <span>搜索：</span>
        <input type="text" name="find" id="find" placeholder="搜索">
        <input type="submit" id="sub_find" value="查询">
        <br>
        <ul class="clearfix" style=" width:705px; margin-left:-10px;" id="showTeachers">
        
        </ul>
        <div class="tcdPageCode"></div>
    </div>
</div>
<div id="div6">Copyright &copy; 2021 深圳大学 All rights reserved.</div>
<script src="javascripts/js/jquery.page.js"></script>
<script src="javascripts/teacher.js"></script>
<script src="javascripts/jq.js"></script>
</body>
</html>
