* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

table {
	border-collapse: collapse;
}

thead {
	background-color: #525151;
	color: #fff;
}

td {
	width: 160px;
	height: 40px;
	text-align: center;

	border: 1px solid #CCC6C6;
}
