<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>深圳大学招生简章</title>
<link rel="stylesheet" href="stylesheets/css/style1.css" type="text/css" media="all"/>
<script src="/javascripts/jquery-3.6.0.min.js"></script>
</head>
<body>
<div id="hearder2" class="clearfix">
	<div class="logo">
   	  <img src="images/images/logo1.png">
  </div>
  <div>
    <img src="images/xiaoxun.jpg" style="width: 200px;height: 101px; position: relative; left: 563px; top: 5px;">
</div>
</div>
<div id="menu-box" class="clearfix">
	<ul>
    	<li><a id="first_page">首页</a></li>
        <li><a id="center">招生简章</a></li>
        <li><a id="teacher">师资队伍</a></li>
        <li><a id="news">新闻中心</a></li>
        <li><a id="touch">联系我们</a></li>
        <li><a id="talk">校园论坛</a></li>
    </ul>
</div>
<div id="slider-box" style="background:url(/images/images/slider4.jpg) center center;"></div>
<div id="detail2-box" class="clearfix">
	<div class="tit-80"><a id="news">招生简章</a> - 查看详情</div>
    <div class="tabula-box">
    	<div class="max-tit">风采展示</div>
        <ul>
            <li><a href="list-text1.html">校园</a></li>
            <li><a href="list-text1.html">大一年级</a></li>
            <li><a href="list-text1.html">大二年级</a></li>
            <li><a href="list-text1.html">大三年级</a></li>
            <li><a href="list-text1.html">大四年级</a></li>
            <li><a href="list-text1.html">研一年级</a></li>
            <li><a href="list-text1.html">研二年级</a></li>
            <li><a href="list-text1.html">研三年级</a></li>
        </ul>
    </div>
    
    <div class="content-box">
    	<h1>招生简章</h1>
        <div class="content">
        	第一章 总 则
　　第一条 为了保证夏季普通高考招生工作顺利进行，切实维护学校和考生的合法权益，依据《中华人民共和国教育法》和《中华人民共和国高等教育法》等法规、国务院和广东省关于深化考试招生制度改革的实施意见文件精神以及教育部、省招生委员会的有关规定，全面落实《教育部关于进一步推进高校招生信息公开工作的通知》(教学函〔2013〕9号)的要求，结合学校实际情况，特制定本章程。

　　第二条 学校招生工作遵循“公平竞争、公正选拔、公开程序，德智体美劳全面考核、综合评价、择优录取”的原则，接受纪检监察部门、考生、家长以及社会各界的监督。

　　第二章 学校概况

　　第三条 学校名称：深圳大学

　　第四条 学校国标代码：10590

　　第五条 学校地址：

　　粤海校区（含沧海校区）：广东省深圳市南山区南海大道3688号，邮政编码：518060

　　丽湖校区：广东省深圳市南山区学苑大道1066号，邮政编码：518055

　　第六条 办学层次：本科

　　第七条 办学性质：公办普通高等学校

　　第八条 办学类型：全日制

　　第九条 学校主管单位：广东省深圳市人民政府

　　学校业务主管单位：广东省教育厅

　　第十条 毕（结）业颁证：按国家招生管理规定录取并取得本校正式学籍的学生，在校期间完成教学计划规定的理论和实践教学环节，成绩合格，获得规定的学分，达到毕（结）业要求者，颁发普通高等学校毕（结）业证书。颁发证书学校名称：深圳大学，证书种类：普通高等学校毕（结）业证书。对符合学士学位授予条件的本科毕业生，授予学士学位并颁发学位证书。退学学生，视具体情况发放肄业证书或开具写实性学习证明。

　　第三章 组织机构与职责

　　第十一条 学校设立由校领导和相关职能部门负责人、学校教师、学生及校友代表组成的招生委员会，全面贯彻执行教育部和广东省招生委员会有关普通高校考试招生政策，负责制定学校招生章程、招生规定和实施细则、确定招生规模和调整专业招生计划，组织管理招生工作的具体实施，协调处理招生工作中的重大事项。

　　第十二条 招生办公室为学校招生委员会的执行机构，其主要职责是根据学校的招生规定和实施细则，编制招生计划，组织招生宣传和录取工作，处理招生的日常事务。招生工作人员必须严格遵守招生纪律和有关考试命题的规定，主动接受纪检监察部门和社会的监督。

　　第十三条 学校设立由学校领导和纪检监察部门组成的考试招生监察小组，对招生工作全过程实施监督。在录取期间成立信访组，安排专人负责考生和社会的信访、申诉、投诉处理工作。

　　第四章 招生计划

　　第十四条 录取批次（具体以各省招生专业目录为准）

　　（一）广东省录取批次分为提前本科批次和本科批次；

　　（二）广东省以外省份（自治区、直辖市）普通类（高考改革省份）、文科类、理科类列第一批（重点批或本科批）录取；

　　（三）体育类、美术类、音乐类本科专业录取批次按教育部及生源省（自治区、直辖市）规定确定。

　　第十五条 学校分专业招生计划及有关要求均以生源省（自治区、直辖市）公布的专业目录为准。根据教育部规定，学校将预留不超过本科计划总数的1%，用于生源质量调控及解决考生专业服从调剂而需要增加的计划等问题。

　　第十六条 其他招生类型

　　（一）高水平运动队和运动训练专业面向全国招生（不含港澳台地区），相关规定详见《深圳大学2020年高水平运动队及保送录取运动员招生简章》和《深圳大学2020年运动训练专业招生简章》；

　　（二）外语类保送生相关规定详见《深圳大学2020年外语类保送生招生简章》。

　　第五章 录取规则

　　第十七条 学校遵循教育部规定的“学校负责、招办监督”的录取体制，严格遵守教育部、省（区、市）招生办公室的有关招生录取政策和规定，本着公开、公平、公正的原则，以考生高考成绩为基本依据，综合衡量德智体美劳，择优录取。

　　第十八条 在生源省（自治区、直辖市）招生委员会划定的录取最低控制分数线上，在确保完成招生计划的前提下，按照普通类（高考改革省份）、文科类、理科类、体育类、艺术类（含音乐类、美术类、舞蹈类、广播电视编导类）分类录取。

　　第十九条 在实行平行志愿投档的省（区、市），学校可根据各省级招生办公室公布的平行志愿投档规则及生源情况确定招生计划微调方案和调档比例。

　　第二十条 在思想政治品德考核和身体健康状况检查合格、统考成绩达到同批录取控制分数线，符合深圳大学提档要求的情况下，普通文理类，依据考生志愿，按考生原始成绩（不含政策性加分）从高分到低分排序择优录取。

　　考生原始成绩（不含政策性加分）相同，如招生省（区、市）有相关录取排序（投档排序）规则，则按该省（区、市）规定执行；无相关规则的省（区、市）则按考生单科顺序及分数从高到低排序择优录取，单科成绩的排列顺序为：文史类为语文、文科综合、文科数学、外语，理工类为理科数学、理科综合、语文、外语。在排位相同时，优先录取已修习相关专业基础知识（模块）的考生。

　　第二十一条 学校志愿处理办法

　　实行平行院校志愿的省（自治区、直辖市）按“分数优先，遵循志愿”的投档原则处理。

　　其他省（自治区、直辖市）实行院校志愿优先的录取原则；同等志愿，择优录取。即优先录取第一院校志愿考生，若第一院校志愿考生生源不足，再按考生的学校志愿次序，择优录取。

　　第二十二条 专业志愿处理办法

　　普通文理类实行专业平行志愿，按分数优先原则，并结合专业要求录取。

　　在内蒙古自治区实行“分数清”录取规则。

　　第二十三条 考生所有填报专业志愿均未被录取时，若不服从专业调剂或服从调剂但是不符合计划有空额专业相关要求的，将予以退档；如服从专业调剂，在符合要求的相关专业的专业志愿录取完后，有剩余计划的情况下，可以被择优调剂录取。

　　第二十四条 录取时对学业水平测试等级有要求的省（自治区、直辖市），进档后排序规则为先分数后等级。

　　在广东省，报考我校本科批文科类、理科类的高中毕业生，文科类考生必须参加普通高中学业水平物理、化学、生物3门科目的考试，理科类考生必须参加普通高中学业水平思想政治、历史、地理3门科目的考试，各门考试均须获得等级成绩；且报考普通本科院校普通类专业至少须有2门科目成绩达到C级及以上等级。当考生成绩（或排序）相同时，综合素质评价及学业水平考试成绩优秀的考生可优先录取。

　　在广东省，报考我校高水平运动队、运动训练专业、体育类、美术类、音乐类的高中毕业生，文科类考生必须参加物理、化学、生物三门学科学业水平考试，且至少有两门学科成绩均达到D级及其以上等级；理科类考生必须参加思想政治、历史、地理三门学科学业水平考试，且至少有两门学科成绩均达到D级及其以上等级。当考生考试成绩（或排序）相同时，综合素质评价及学业水平考试成绩优秀的考生可优先录取（高水平运动队和运动训练专业除外)。

　　在江苏省，报考我校文科类、理科类学业水平测试的等级要求为：选测科目AB或AB以上，必测科目（含技术）4合格；报考艺术类专业的等级要求：必测科目（含技术）为4合格。2018年及以前的必修科目测试成绩要求4C或4C以上。

　　其他省（自治区、直辖市）如对考生高中学业水平有相应要求，则按当地省（自治区、直辖市）招生办有关规定执行。

　　第二十五条 外语语种要求

　　本校公共外语教学为英语，请非英语语种考生慎重报考。

　　英语和英语（师范）专业仅招英语语种考生，日语专业仅招日语和英语语种考生，法语专业仅招法语和英语语种考生，西班牙语仅招西班牙语和英语语种考生，德语专业仅招德语和英语语种考生。

　　第二十六条 体育类、美术类、音乐类实行专业志愿优先。

　　（一）音乐类专业出档考生须符合《深圳大学2020年本科艺术类专业招生简章》中关于各省该专业对演唱方式或器乐乐种的要求，否则不能录取至相应专业；

　　（二）按省统考方式且以平行志愿按艺术计划1:1出档的省市相关专业，符合录取政策的出档考生，文化总分和术科成绩均达到生源省市划定的最低录取控制分数线，志愿优先，按投档成绩（排位）分档至各专业。广东省投档成绩为综合分，其它各省按各省录取文件规定执行；

　　（三）未按计划1:1出档的省市相关艺术统考专业和校考专业：符合录取政策的出档考生，在文化总分和术科成绩均达到生源省（自治区、直辖市）划定的最低录取控制分数线的前提下，先按术科总分（排名）从高分到低分择优录取计划数的50%（按四舍五入规则；如术科总分（排名）相同，则按文化课择优录取），再按文化课总分从高分到低分择优录取剩余计划（如文化总分相同，则按术科总分（排名）择优录取）；

　　（四）体育教育（师范）、休闲体育专业：广东省符合录取政策的出档考生，文化总分和术科成绩均达到生源省市划定的最低录取控制分数线，志愿优先，按综合分（排位）分档至各专业。

　　第二十七条 对享受加分政策的考生，可按省（自治区、直辖市）招生办的规定加分投档，普通文理类录取专业时以原始成绩（不含政策性加分）为准。

　　第六章 录取体检标准

　　第二十八条 录取考生的体检标准按照教育部、卫生部、中国残疾人联合会颁布的《普通高等学校招生体检工作指导意见》及《教育部办公厅卫生部办公厅关于普通高等学校招生学生入学身体检查取消乙肝项目检测有关问题的通知》（教学厅〔2010〕2号）的有关规定执行。对于残障考生，若其生活能够自理，符合所报专业要求，且高考成绩达到录取标准，予以正常录取。

　　以下专业色盲、色弱者不予录取：心理学、心理学（师范）、化学、环境工程、食品科学与工程、新能源科学与工程、化学(师范) 、生物技术、 海洋科学、生物科学、生物科学（师范）、临床医学 、生物医学工程、药学、护理学、口腔医学、预防医学。

　　以下专业色盲者不予录取：设计学类、美术学、高分子材料与工程、材料科学与工程、物理学、核工程与核技术、物理学(师范)、建筑学、城乡规划、风景园林。

　　第二十九条 体育教育（师范）专业裸眼视力低于4.7的考生，请慎重报考。

　　第三十条 新生入学后，学校以教育部、卫生部、中国残疾人联合会制定的《普通高等学校招生体检工作指导意见》、《教育部办公厅卫生部办公厅关于普通高等学校招生学生入学身体检查取消乙肝项目检测有关问题的通知》为依据，对新生身体健康状况进行复查，对经复查不符合体检要求或不宜就读已录取专业者，按有关学籍管理规定办理，予以转专业或取消学籍。

　　第七章 新生注册和复查

　　第三十一条 经本校夏季高考招生录取的考生，须在规定时间内办理缴交学费注册手续，逾期未注册者，按自行放弃入学资格处理。

　　第三十二条 新生入学三个月内，将对学生进行政治、文化、健康等方面的复查。对在报名和考试过程中有弄虚作假或其他违纪违规行为者，将按规定取消学籍。

　　第八章 收费标准

　　第三十三条 学费与住宿费

　　（一）学费（不含书费）按学分制收费，由课程学分学费和专业学费两部分组成，每学期学分学费按学生实际修读的课程总学分计算。各专业每学年平均收费情况详见深圳大学本科招生网；住宿费为800-1500元/学年（以深圳市物价部门批准数为准）；

　　（二）华侨与港澳台地区学生收费标准与内地学生一致。

　　第九章 资助学生政策

　　第三十四条 国家助学贷款、奖学金、助学金等奖助学措施按照教育部、广东省教育厅和我校相关规定执行。

　　第三十五条 学校奖助学金政策（详见深圳大学本科招生网）

　　（一）成绩优秀的新生，入学后可获得相应等级新生奖学金；

　　（二）符合条件的学生可获得国家奖学金、国家励志奖学金和社会各界设立的各种奖学金、助学金；

　　（三）助学贷款与勤工助学

　　1.按国家、省市有关规定，家庭经济困难的学生可申请国家助学贷款，贷款金额最高为8000元/人/学年；

　　2.设有勤工助学岗位，同等条件下，家庭经济困难的学生优先安排。

　　第十章 特别说明

　　第三十六条 报到校区

　　丽湖校区：医学部、材料学院、化学与环境工程学院和生命与海洋科学学院相关专业。

　　粤海校区：其它专业。

　　第三十七条 入学复测

　　根据教育部有关文件规定，学校要对特殊类（含艺术类、体育类、高水平运动队、运动训练专业及外语类保送生等）录取新生开展入学专业水平复测，如发现专业水平复测不合格者，将取消其学籍，予以退学。复测内容和标准与当年高考专业术科考试内容（可量化部分）一致，如学生复测成绩未达到其本人高考术科成绩的70%，视为复测不合格。

　　第十一章 招生工作咨询、监督与申诉

　　第三十八条 招生咨询及联系方式

　　咨询电话: 0755-2653 6235

　　传真：0755-2653 4482

　　电子邮箱: zsb@szu.edu.cn

　　学校网址：http://www.szu.edu.cn

　　本科招生网址：http://zs.szu.edu.cn

　　第三十九条 招生工作的监督与申诉渠道

　　联系部门：深圳大学纪委办公室

　　监督电话：0755-2653 4925

　　传真：0755-2653 4925

　　电子邮箱：jiwei@szu.edu.cn

　　第十二章 附则

　　第四十条 本章程由深圳大学于2020年3月由校长办公会议讨论审查通过，适用于深圳大学2020年本科招生工作，自公布之日起施行。

　　第四十一条 本章程由深圳大学授权深圳大学招生办公室解释。本章程若与国家和省（区、市）的规定不一致，以国家和省（区、市）的规定为准。
        </div>
    </div>
</div>
<div id="div6">Copyright &copy; 2021 深圳大学 All rights reserved.</div>
<script src="javascripts/jq.js"></script>
</body>
</html>
