<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>首页添加</title>
<link rel="stylesheet" href="stylesheets/css/style1.css" type="text/css" media="all"/>
<script src="/javascripts/jquery-3.6.0.min.js"></script>
</head>
<body>
<div id="hearder2" class="clearfix">
	<div class="logo">
   	  <img src="images/images/logo1.png">
  </div>
  <div>
    <img src="images/xiaoxun.jpg" style="width: 200px;height: 101px; position: relative; left: 563px; top: 5px;">
</div>
</div>
<div id="menu-box" class="clearfix">
	<ul>
        <li><a id="Mfirst_page">管理首页</a></li>
        <li><a id="Mnotice">公告管理</a></li>
        <li><a id="Mdynamic">动态管理</a></li>
        <li><a id="Minnovate">创新管理</a></li>
        <li><a id="Mteacher">教师队伍管理</a></li>
        <li><a id="Mnews">新闻管理</a></li>
        <li><a id="Mtouch">联系教师管理</a></li>
        <li><a id="Mtalk">论坛管理</a></li>
    </ul>
</div>
<div id="slider-box" style="background:url(/images/images/slider4.jpg) center center;"></div>
<div id="detail2-box" class="clearfix">
	<div class="tit-80"><a id="news">管理首页</a> - 查看详情</div>
    <div class="tabula-box">
    	<div class="max-tit">管理员系统</div>
        <ul>
            <li><a href="list-text1.html">校园</a></li>
            <li><a href="list-text1.html">大一年级</a></li>
            <li><a href="list-text1.html">大二年级</a></li>
            <li><a href="list-text1.html">大三年级</a></li>
            <li><a href="list-text1.html">大四年级</a></li>
            <li><a href="list-text1.html">研一年级</a></li>
            <li><a href="list-text1.html">研二年级</a></li>
            <li><a href="list-text1.html">研三年级</a></li>
        </ul>
    </div>
    
    <div class="content-box">
    	<h1>管理首页</h1>
        <div class="content">
           
        </div>
    </div>
</div>
<div id="div6">Copyright &copy; 2021 深圳大学 All rights reserved.</div>
<script src="javascripts/jq1.js"></script>
</body>
</html>
