<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>修改联系老师</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/add.css">
    <script src="/javascripts/js/jquery-1.8.3.min.js"></script>
</head>
<body>
    <span><h2>请修改联系教师的相关信息：</h2></span>
    <br>
<div id="update" style="opacity:0.6">
    
</div>
<input type="submit" id="sub">
</body>
<script src="javascripts/update.js"></script>
</html>