<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>深圳大学</title>
<link rel="stylesheet" href="stylesheets/css/style1.css" type="text/css" media="all"/>
<script src="javascripts/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="javascripts/js/first.js"></script>
</head>

<body>
<div id="hearder2" class="clearfix">
	<div class="logo">
   	  <img src="images/images/logo1.png">
  </div>
  <div>
      <img src="images/xiaoxun.jpg" style="width: 200px;height: 101px; position: relative; left: 563px; top: 5px;">
  </div>
</div>
<div id="menu-box" class="clearfix">
	<ul>
        <li><a id="first_page">首页</a></li>
        <li><a id="center">招生简章</a></li>
        <li><a id="teacher">师资队伍</a></li>
        <li><a id="news">新闻中心</a></li>
        <li><a id="touch">联系我们</a></li>
        <li><a id="talk">校园论坛</a></li>
    </ul>
</div>
<div id="slider-box" style="background:url(images/images/slider1.jpg) center center;"></div>
<div id="index1-div1" class="clearfix">
	<div class="index1-left675">
    	<div class="title-box">中心简介<a href="detail1.html" class="title-more" title="查看更多"><img src="images/images/12.gif"></a></div>
        <p><img src="images/images/p-img.jpg" align="left">深圳大学1983年经国家教育部批准设立。中央、教育部和地方高度重视特区大学建设。北大援建中文、外语类学科，清华援建电子、建筑类学科，人大援建经济、法律类学科，一大批知名学者云集深圳大学。建校伊始，学校在高校管理体制,北大援建中文、外语类学科，清华援建电子、建筑类学科，人大援建经济北大援建中文、外语类学科，建筑类学科，人大援建经济北大援建中文、外语类学科，清华援建电子.</p>
    </div>
    <div class="index1-right300">
    	<div class="title-box">通知公告<a href="list-text1.html" class="title-more" title="查看更多"><img src="images/images/12.gif"></a></div>
          <ul id="inform">
              <li><a href="/first_page">校园一卡通更换</a><span>2021-05-9</span></li>
              <li><a href="detail1.html">劳动节放假通知</a><span>2021-04-30</span></li>
              <li><a href="detail1.html">学生会选拔</a><span>2021-04-13</span></li>
              <li><a href="detail1.html">教师招聘</a><span>2021-03-20</span></li>
          </ul>
    </div>
</div>
<div id="index1-div2" class="clearfix">
	<div class="index1-left675">
    	<div class="index1-li-box">
    	<div class="index1-left330">
        	<div class="title-box">中心动态<a href="list-text1.html" class="title-more" title="查看更多"><img src="images/images/12.gif"></a></div>
            <img src="images/images/c1.jpg" style="width:330px; height:140px; margin:5px 0;">
            <ul>
                <li><a href="detail.html">清华大学博士来校演讲</a><span>2021-05-9</span></li>
                <li><a href="detail.html">十大学星选拔</a><span>2021-04-20</span></li>
                <li><a href="detail.html">大一辩论赛</a><span>2021-04-14</span></li>
            </ul>
        </div>
        <div class="index1-right330">
        	<div class="title-box">创新成果<a href="list-text1.html" class="title-more" title="查看更多"><img src="images/images/12.gif"></a></div>
            <img src="images/images/c2.jpg" style="width:330px; height:140px; margin:5px 0;">
            <ul>
                <li><a href="detail1.html">创业创新社团</a><span>2021-04-23</span></li>
                <li><a href="detail1.html">区块链+大数据</a><span>2021-03-3</span></li>
                <li><a href="detail1.html">区块链+5G</a><span>2020-12-5</span></li>
            </ul>
        </div>
        </div>
        <div class="index1-pic-gun">
        	<div class="title-box">设备资源<a href="list-pic1.html" class="title-more" title="查看更多"><img src="images/images/12.gif"></a></div>
            <div class="index1-scrollleft clearfix">
                <ul>
                    <li>
                        <img alt="霍尔效应" src="images/images/a1.jpg"/>
                        <span>霍尔效应</span>
                    </li>
                    <li>
                        <img alt="声速测量" src="images/images/a2.jpg"/>
                        <span>声速测量</span>
                    </li>
                    <li>
                        <img alt="交流电梯" src="images/images/a3.jpg"/>
                        <span>交流电梯</span>
                    </li>
                    <li>
                        <img alt="声速测量" src="images/images/a2.jpg"/>
                        <span>声速测量</span>
                    </li>
                </ul>
            </div>
            <script type="text/javascript">
            $(document).ready(function(){
                $(".index1-scrollleft").imgscroll({
                    speed: 40,    //图片滚动速度
                    amount: 0,    //图片滚动过渡时间
                    width: 1,     //图片滚动步数
                    dir: "left"   // "left" 或 "up" 向左或向上滚动
                });
            });
            </script>
        </div>
    </div>
</div>
<div id="div6">Copyright &copy; 2021 深圳大学 All rights reserved</div>
<script src="javascripts/jq.js"></script>
</body>
</html>

